{% extends 'base.html' %}

{% block content %}	
<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">

        <h1>API document</h1>
        <p>
            using python requests is my best practice
            <pre>import requests</pre>
            <pre>url = 'https://nlpen.herokuapp.com/api/'</pre>
            <pre>string_html = '''{{html}}'''</pre>
            <pre>r = requests.patch(url, data={'text': string_html, 'num': 7})</pre>
            <pre>words = r.json()['words']</pre>
            <p><code>text</code> is String</p>
            <p><code>num</code> is Int</p>
        </p>
    </div>
    <div class="col-lg-3"></div>
</div>
{% endblock %}

{% block style %}	
pre {
    background: #aaaaaa50;
    padding: 5px;

}
code {
    background: #aaaaaa50
}

{% endblock %}
